.AllGamePage {
  font-family: "Oswald";


  margin-left: 5rem;
}

.filter_part {
  padding-left: 4.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.filterdiv {
  margin-top: 5%;
}

.filterselectwrapper {
  padding-bottom: 2.5%;
}

.filterselectwrapper ul {
  display: flex;
  text-decoration: none;
  gap: 3%;
}

.filterselectwrapper ul li {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  border: 1px solid #ff4654;
  padding: 6px 12px;
  border-radius: 12px;
}

.xbtn {
  font-size: 18px;
  cursor: pointer;
}

.xbtn:hover {
  color: #ff4654;
}

.outline {
  cursor: pointer;
}

.outline:hover {
  background-color: #afc7df;
}

.btnAll {
  background-color: var(--highlight);
  color: var(--text-title);
  border-radius: 12px;
  padding-inline: 0.5%;
  cursor: pointer;
  font-family: "Oswald";
  font-size: 18px;
  width: 20%;
}

.btnAll:hover {
  border: 3px solid #afc7df;
}

.cardWrapper {

  // margin-top: 5%;
  display: flex;
  // padding-left: 100px;

  justify-content: space-between;
  position: relative;
  .mapWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .btn_Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    svg {
      width: 3rem;

      fill: var(--primary);
      stroke-width: 2px;
      stroke: var(--highlight);
      stroke-linecap: round;
      stroke-linejoin: round;

      border-radius: 50px;
      &:nth-of-type(1) {
        margin-inline: 12px;
      }
    }
  }
}
