.header_banner_all_game {
  margin-left: 5rem;
}
.details {
  padding: 5% 5%;
  margin-left: 5rem;
  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .details_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    .part_1,
    .part_2,
    .part_3 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2.5rem;
    }

    .part_1 {
      .details_left {
        padding-right: 16%;
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 24px;

        img {
          border-radius: 24px;
        }

        h3 {
          font-size: 1.5rem;
        }
        .buttonOutline {
          margin-left: 0;
          width: fit-content;
        }

        .buttonFilled {
          width: fit-content;
        }
      }
      .details_right {
        // margin-left: 1.5rem;
        h3 {
          padding-bottom: 24px;
        }

        p {
          font-family: "Titillium Web";
          font-size: 1rem;
          // font-weight: 200;
        }
      }
    }

    .part_2 {
      img {
        // margin: 24px;
        border-radius: 24px;
        width: 100%;
      }
    }

    .part_3 {
      .additional_info_container {
        // padding-inline: 1.5rem;

        h3 {
          margin-bottom: 32px;
        }

        p {
          font-family: "Titillium Web";
        }

        .additional_info {
          display: grid;
          grid-template-columns: 150px 200px;

          h4 {
            padding-block: 12px;
            letter-spacing: 1px;
          }

          p {
            padding-block: 12px;
          }
        }
      }

      .system_requirements_container {
        // padding-inline: 1.5rem;
        .system_requirements_grid {
          margin-top: 32px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          div {
            padding-right: 1rem;
            padding-bottom: 1rem;
            h4 {
              padding-bottom: 4px;
              letter-spacing: 1px;
            }

            p {
              padding-bottom: 18px;
              font-family: "Titillium Web";
            }
          }
        }
      }
    }
  }
}
