.heroImg {
  position: relative;
  background-image: url(../img/LoL-Banner.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  p {
    font-size: 4rem;
    position: absolute;
    bottom: 100px;
    left: 200px;
  }
}

.recentlyAdded__Wrapper {
  margin-top: 5%;
  display: flex;
  padding-left: 100px;
  justify-content: space-between;

  .cardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .btn_Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      cursor: pointer;
      background: #375470;
      border: 2px solid #ff4654;
      border-radius: 50px;
      &:nth-of-type(1) {
        margin-inline: 12px;
      }
    }
  }
}
