.buttonOutline {
  background-color: var(--card-background);
  border: 2px solid var(--highlight);
  color: white;
  font-size: 1rem;
  font-family: "Oswald";
  font-weight: 500;
  border-radius: 1.25rem;
  padding: 0.625rem 1rem;

  & > img {
    width: 1rem;
    // height: 1rem;
  }
}

.buttonOutline:hover {
  border: 2px solid var(--highlight);
}

.buttonOutline:active {
  transform: scale(0.95);
}
