.Card__Design {
  background-color: var(--card-background);
  display: inline-block;
  border-radius: 25px;

//   height: 460px;

  margin: 12px 12px;

  & > img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  article {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    .over_line {
      h2 {
        color: white;
        text-align: left;
        font-size: 1.125rem;
        margin-left: 12px;
      }
      & > button {
        margin: 1.5rem 0.75rem 1.5rem 0.75rem;
        cursor: pointer;
      }
    }
    .Bottom_Btns {
      margin-inline: 0.5rem;
      display: flex;
      gap: 0.75rem;
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      justify-content: start;
      // margin-bottom: 2rem;
      padding-top: 32px;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}
