.sidebar {
  // background-color: var(--primary);
  background-color: var(--primary);
  height: 100%;
  width: 80px;
  border-right: 2px solid white;

  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s ease;

  z-index: 1100;


  // Icons: Hamburger + Close
  div {
    .hamburger-menu {
      cursor: pointer;
    }

    .close-icon-invisible {
      visibility: hidden;
      color: white;
      font-size: 2.5rem;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  // Menu (Home, All Games, Recently Added)
  nav {
    margin-block: 30vh;
    padding: 8px 12px;

    ul {
      li {
        margin: 24px 0;
        list-style-type: none;

        a {
          display: flex;
          align-items: center;
          gap: 10px;

          // Icon-Titel (Home, All Games, Recently Added)
          .nav-item-invisible {
            display: none;
          }
        }

        .active {
          background-color: var(--highlight);
          border-radius: 12px;
        }
      }
    }
  }

  .mode {
    display: flex;
    img {
      display: block;
      width: 1.75rem;
      margin-inline: auto;
      cursor: pointer;
    }
  }
  .mode:active {
    transform: scale(0.85);
  }
}

// Bei Klick auf Hamburger-Icon wird diese Klasse eingefügt
// Sidebar klappt nach rechts aus/wird breiter
.sidebar_open {
  width: 260px;

  // Hamburger-Icon verschwindet
  .hamburger-menu {
    visibility: hidden;
  }

  .nav-item-visible {
    padding-block: 10px;
    color: white;
    font-size: 1.5rem;
  }
}

// X - Close-Icon erscheint
.close-icon-visible {
  visibility: visible;
  color: white;
  font-size: 2.5rem;
  line-height: 0.8;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

// to do:
// Beim Schließen der Sidebar ist die Transition nicht drin - Bewegung zu hart!
.link_to_home {
  height: 43px;
  width: 120px;
  display: block;
  position: absolute;
  top: 24px;
  left: 120px;
  z-index: 1001;
  cursor: pointer;

  // Container für Logo + Companyname bei ausgeklapptem Menü
  .main-content-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 320px;
    top: 24px;
    transition: all 0.4s ease;
    z-index: 994;

    // Logo
    img {
      position: fixed;
      top: 16px;
      left: 280px;
      transition: all 0.4s ease;
      background-color: #040f14d6;
      padding: 8px 20px;
      border-radius: 12px 0% 0% 12px / 33% 33% 33% 33%;
    }
    // Companyname
    h3 {
      position: fixed;
      top: 16px;
      left: 353px;
      transition: all 0.4s ease;
      background-color: #040f14d6;
      padding: 8px 20px 8px 4px;
      // Höhe = Höhe vom img
      height: 43px;
      border-radius: 0px 12px 12px 0px / 33% 33% 33% 33%;
    }
  }

  // Container für Logo + Companyname bei gesschlossenem Menü
  .main-content-close {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 120px;
    top: 24px;
    transition: all 0.4s ease;
    z-index: 993;

    img {
      width: 120px;
      height: 40px;
      position: fixed;
      top: 16px;
      left: 100px;
      transition: all 0.4s ease;
      background-color: #040f14d6;
      padding: 8px 20px;
      border-radius: 12px 0% 0% 12px / 33% 33% 33% 33%;
    }
    h3 {
      position: fixed;
      top: 16px;
      left: 173px;
      transition: all 0.4s ease;
      background-color: #040f14d6;
      padding: 8px 20px 8px 4px;
      // Höhe = Höhe vom img
      height: 43px;
      border-radius: 0px 12px 12px 0px / 33% 33% 33% 33%;
    }
  }
}
