.sidebar {
  background-color: var(--primary);
  height: 100%;
  width: 80px;
  border-right: 2px solid white;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
  z-index: 1100;

  // Icons: Hamburger + Close
  div {
    .hamburger-menu {
      cursor: pointer;
    }

    .close-icon-invisible {
      visibility: hidden;
      color: white;
      font-size: 2.5rem;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  // Menu (Home, All Games, Recently Added)
  nav {
    margin-block: 30vh;
    padding: 8px 12px;
    position: relative;

    ul {
      li {
        margin: 24px 0;
        list-style-type: none;

        a {
          height: 56px;
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .active {
          background-color: var(--highlight);
          border-radius: 12px;
        }

        // Lightmode/Darkmode
        // &:nth-of-type(4) {
        // margin-top: 50px;
        // display: flex;
        // align-items: center;
        // cursor: pointer;
        // font-family: "Titillium Web";

        // .nav-item-invisible {
        //   display: none;
        // }

        // img {
        //   margin: 10px;
        //   width: 30px;
        //   height: 30px;
        // }

        // span {
        //   padding-left: 12px;
        //   font-size: 1rem;
        //   flex-grow: 1;
        // }

        // .mode:active {
        //   transform: scale(0.85);
        // }
      }
    }
    // Companyname + Page-Namen (Home, All Games, Recently Added)
    .nav-item-invisible {
      display: none;
      flex-grow: 1;
    }
    // }
  }
}

// Bei Klick auf Hamburger-Icon wird diese Klasse eingefügt
// Sidebar klappt nach rechts aus/wird breiter
.sidebar_open {
  width: 260px;

  // Hamburger-Icon verschwindet
  .hamburger-menu {
    visibility: hidden;
  }

  .nav-item-visible {
    padding-block: 10px;
    color: white;
    font-size: 1.5rem;
    flex-grow: 1;

    // Companyname - erscheint, wenn Sidebar open
    // h3 {
    //   text-align: center;
    //   font-size: 2rem;
    //   span {
    //     color: var(--highlight);
    //   }
    // }
  }

  .company {
    position: absolute;
    left: 50px;
    top: -210px;

    h3 {
      text-align: center;
      font-size: 2rem;

      span {
        color: var(--highlight);
      }
    }
  }

  // li:nth-of-type(1) {
  //   margin-bottom: 5rem;
  // }
}

// X - Close-Icon erscheint
.close-icon-visible {
  visibility: visible;
  color: white;
  font-size: 2.5rem;
  line-height: 0.8;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.link_to_home {
  height: 43px;
  width: 120px;
  display: block;
  position: absolute;
  top: 24px;
  left: 120px;
  z-index: 1001;
  cursor: pointer;

  // Container für Logo
  .main-content-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 320px;
    top: 24px;
    // transition: all 0.4s ease;
    z-index: 994;

    // Logo
    img {
      width: 140px;
      position: fixed;
      top: 20px;
      left: 300px;
      transition: all 0.4s ease;
      padding: 8px 20px;
    }
    // // Companyname
    // h2 {
    //   padding: 8px 20px;
    //   position: fixed;
    //   top: 12px;
    //   left: 323px;
    //   // transition: all 0.4s ease;
    //   // Höhe = Höhe vom img
    //   height: 40px;
    // }
  }

  // Container für Logo + Companyname bei gesschlossenem Menü
  .main-content-close {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 120px;
    top: 24px;
    z-index: 993;

    img {
      width: 140px;
      padding: 8px 20px;
      position: fixed;
      top: 20px;
      left: 120px;
      transition: all 0.4s ease;
    }
    // h2 {
    //   padding: 8px 20px;
    //   position: fixed;
    //   top: 12px;
    //   left: 193px;

    //   // Höhe = Höhe vom img
    //   height: 40px;
    // }
  }
}
