@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight: #ff4654;
  --card-background: #102130;
  --primary: #040f14;
  --text-title: #ffffff;
  --text-description: #afc7df;
  --primary-medium: #375470;
}

html {
  background-color: var(--primary);
  color: var(--text-title);
}

a {
  color: inherit;
  text-decoration: none;
}

.grid_layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.lightMode {
  --card-background: #375470;
  --primary: #afc7df;
  --text-title: #ffffff;
  --text-description: #375470;
  --primary-medium: #102130;
}
